@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;600;700&family=Poppins:wght@400;500;600;700&display=swap');
* 
{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box
}
body 
{
    margin: 0;
    background-color: #fff;
    color: #242424;
	font-family: 'Poppins', sans-serif;
	font-size:15px;
}
body,html 
{
    height: 100%
}
img 
{
    max-width: 100%
}
a
{
	text-decoration:none;
}
ul
{
	list-style:none;
	padding-left:0;
}
header 
{
    box-shadow: 0 0 7px 0 #d2d2d2;
}
.logo 
{
    width: auto;
    float: left;
}

nav li 
{
    display: inline-block;
}
nav 
{
    float: right;
    width: auto;
	margin:15px 0;
}
nav li a 
{
    text-decoration: none;
    padding: 10px 15px;
    color: #000000;
}
nav li a:hover 
{
    color: #e0a400;
}
h1,h2,h3,h4,h5,h6
{
	font-family: 'Oswald', sans-serif;
	margin:0;
}
footer, header, main, nav, section
{
    display: block;
}
.wrapper 
{
    max-width: 1380px;
    margin: 0 auto;
}
header {
    box-shadow: 0 0 7px 0 #d2d2d2;
}
.full-wid {
    width: 100%;
    float: left;
}

.top-bar-contact a {
    color: #fff;
    padding-right: 20px;
}
.top-bar-contact a i {
    padding-right: 5px;
}
.header-main {
    width: 100%;
    float: left;
    box-shadow: 2px 5px 7px 0 #ddd;
    padding: 14px 0;
}
.header-main .header-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    width: auto;
    float: left;
}
img {
    max-width: 100%;
}
footer, header, main, nav, section {
    display: block;
}
#toggle {
    display: none;
}
ul {
    list-style: none;
    padding-left: 0;
}
nav li {
    display: inline-block;
}
nav li a {
    text-decoration: none;
    padding: 10px 15px;
    color: #000000;
}
